.hotcates-wrapper {
  .cate-list-wrapper {
    padding: 0 0.4rem 0rem;
    .cate-line {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      .cate-item {
        margin-top: 0.4rem;
        .cate-image {
          width: 3.5rem;
          height: 3.5rem;
          margin: 0, 4rem;
        }
        .item-title {
          margin-top: 0.15rem;
          text-align: center;
          font-size: 0.6rem;
          color: #000;
        }
      }
    }
  }
  .cate-banner-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .cate-banner {
      position: relative;
      display: block;
      width: 8.35rem;
      height: 3.5rem;
      border-radius: 0.2rem;
      overflow: hidden;
      img {
        height: 100%;
        width: 100%;
      }
    }
    p {
      position: absolute;
      bottom: 0;
      width: 100%;
      color: #fff;
      text-align: center;
      font-size: 0.6rem;
      border-radius: 0 0 0.2rem 0.2rem;
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
}